.git
.gitignore
node_modules
**/node_modules
**/dist
**/.next
**/coverage
**/*.log
.env
.env.*
!.env.example
apps/web
infra
docs
cv.tex
README.md
turbo.json
eslint.config.mts
.prettierrc
**/*.md
**/*.spec.ts
**/*.test.ts
